/* index.html styles */
@import url(https://fonts.googleapis.com/css?family=Exo+2:500);
@import url(https://fonts.googleapis.com/css?family=Exo+2:200);

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.cuerpoPrincipal{
  width: 100%;
}
  .contenedorFormulario{
    background-color: #D91B36;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1000;
    transition: 2s;
  }
    .contenedorFormulario .formularioNickname{
      width: 50%;
    }
    .tituloFormulario{
      color: #fff;
      text-align: center;
      font-family: 'Exo 2', sans-serif;
    }
    .entradaNickname{
      background-color: transparent;
      text-align: center;
      height: 50px;
      display: inherit;
      margin: 0 auto;
      width: 70%;
      border: none;
      border-bottom: 5px solid #fff;
      color: #fff;
      font-size: 30px;
      font-family: 'Exo 2', sans-serif;
      font-weight:200;
      outline: none;
    }
  .contenedorMensajes{
    width: 100%;
    height: 85vh;
  }
  .contenedorMensajes .mensajes{
    padding: 5%;
    margin: 0 auto;
  }
    .formularioEntradaMensaje{
      width: 100%;
      font-size: 0;
      height: 15vh;
      bottom: 0;
    }
      .entradaMensaje{
        width: 90%;
        height: 100%;
        box-sizing: border-box;
        border: 3px solid #D91B36;
        text-indent: 10px;
        float: left;
        outline: none;
        font-size: 20px;
      }
      .enviarMensaje{
        width: 10%;
        background-color: #D91B36;
        border: none;
        color: #FFF;
        font-family: 'Exo 2', sans-serif;
        float: left;
        height: 100%;
      }

    .fadeout{
      opacity: 0;
      pointer-events: none;
    }
    .autor{
      text-transform: uppercase;
      color: #D91B36;
      font-family: 'Exo 2', sans-serif;
    }
    .mensaje{
      text-indent: 20px;
      font-family: 'Exo 2', sans-serif;
      font-size: 20px;
    }
